<div class="card-panel">
  <%= form_with(model: tournament, local: true) do |form| %>
      <% if tournament.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(tournament.errors.count, "error") %> prohibited this tournament from being saved:</h2>

            <ul>
              <% tournament.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class="form-group">
        <div class="mdl-textfield mdl-js-textfield">
          <%= form.text_field :name, id: :tournament_name, class: "mdl-textfield__input form-control" %>
          <%= form.label :name, class: "mdl-textfield__label"%>
          <span class="mdl-textfield__error"><%= tournament.errors[:name]%></span>
        </div>
      </div>

      <div class="form-group">
        <div class="mdl-textfield mdl-js-textfield">
          <%= form.select :tournament_type_id, TournamentType.pluck(:name,:id), {prompt: "Тип турнира"},
                          id: :tournament_type_id,
                          class: "mdl-textfield__input form-control"%>
          <span class="mdl-textfield__error"><%= tournament.errors[:tournament_type_id]%></span>
        </div>
      </div>

      <div class="form-group">
        <div class="mdl-textfield mdl-js-textfield">
          <%= form.datetime_select :start_at, id: :tournament_start_at, class: "mdl-textfield__input form-control" %>
        </div>
      </div>



        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">Участники</h2>
        </div>


        <div class="mdl-card__supporting-text">

          <div class="mdl-textfield mdl-js-textfield" id="tournament_member_block">
            <input type="text" id="tournament_member" name="tournament[member][]" placeholder="Введите имя участника"
                   class="mdl-textfield__input form-control">
            <label for="member" class="mdl-textfield__label">Участники</label>
          </div>




          <a class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--fab" id="member_add_btn">
            <i class="material-icons">add</i>
          </a>

          <p>Количество раундов: <span>3</span></p>

          <p><a href="">Добавить 8 участников</a></p>
          <p><a href="">Сортировать участников</a></p>
        </div>

      <br>

      <div class="form-group">
        <%= form.submit 'Создать', class: "mdl-button mdl-js-button mdl-button--raised mdl-button--accent" %>
      </div>
  <% end %>
  <br>
</div>