
<div class="row card-panel">

  <%= form_with(model: tournament, local: true, class: "col s12") do |form| %>
      <% if tournament.errors.any? %>
          <div id="error_explanation">
            <ul>
              <% tournament.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

    <div class="row">
      <div class="input-field col s12">
        <%= form.text_field :name, id: :tournament_name, class: "validate" %>
        <%= form.label :name%>
      </div>
    </div>

      <div class="row">
        <div class="input-field col s12">
          <%= form.select :tournament_type_id, TournamentType.pluck(:name,:id), {prompt: "Тип турнира"},
                          id: :tournament_type_id%>
          <label>Тип Турнира</label>
        </div>
      </div>


     <div class="row card-panel indigo lighten-5">
       <%= form.date_select :start_at, id: :tournament_start_at, class: "mdl-textfield__input form-control" %>
     </div>


     <div class="row">
        <div id="members">

          <div class="row">

            <%= form.fields_for :member do |member_fields| %>
                Name: <%= member_fields.text_field :name, prompt: "Введите имя участника", class: "textfield__input form-control" %>
            <% end %>


            <!--<input type="text" id="tournament_member_1" name="members[]" placeholder="Введите имя участника"-->
                   <!--class="mdl-textfield__input form-control">-->
          </div>
        </div>

       <a class="btn-floating btn-large waves-effect waves-light red" id="new_member_btn"><i class="material-icons">add</i></a>

       <p>Количество раундов: <span>3</span></p>

       <p><a href="">Добавить 8 участников</a></p>
       <p><a href="">Сортировать участников</a></p>
     </div>

      <div class="row">
        <%= form.submit 'Создать', class: "mdl-button mdl-js-button mdl-button--raised mdl-button--accent" %>
      </div>

  <% end %>
</div>
