<%= form_with(model: tournament, local: true) do |form| %>
  <% if tournament.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tournament.errors.count, "error") %> prohibited this tournament from being saved:</h2>

      <ul>
      <% tournament.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_area :name, id: :tournament_name %>
  </div>

  <div class="field">
    <%= form.label :status_id %>
    <%= form.select :status_id, {"Не активен":0, "Активен":1}, {},
                    :id => "tournament_status_id",
                    :prompt => 'Выберите статус' %>
  </div>

  <div class="field">
    <%= form.label :start_at %>
    <%= form.datetime_select :start_at, id: :tournament_start_at %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
